.button {
  font-size: 20px;
  padding: 0.5em 1.5em;
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  border-radius: 3px;
  background-color: $color;
  box-shadow: #c1e4d4 0 1px 0 inset;
  border: 1px solid #5f9e80;
  color: black;
  text-shadow: #40936b 0 -1px 0;
}

.button:hover {
  background: darken($color, 5%);
  color: black;
  text-decoration: none;
}

.button:active {
  box-shadow: #5a9479 0 1px 2px inset;
}